@model Database_201_721.ViewModels.GroupAndStudentsViewModel

<h2 class = "mb-3">Список студентов в группе</h2>
<table class="table">
    @foreach (var user in Model.Users)
    {
        <tr>
            <td class = "fs-4"> @user.Email </td>
        </tr>
    }
</table>



