
 
 
<form asp-action="Create" method="post">
    <div class="form-group" style = "width:250px">
        <label for="groupName">Название группы</label>
        <input name="groupName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

