@model Database_201_721.ViewModels.CourseViewModel


<form asp-action="AddCourse" method="post">
    <div class="form-group" style = "width:250px">
        <label class = "mb-3 fs-4" for="CourseName">Название курса</label>
        <input name="CourseName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-secondary mt-3">Добавить</button>
</form>
