@{
    ViewData["Title"] = "Home Page";
}
@model List<Database_201_721.Models.Course>
    

<a class = "btn btn-primary  mb-4" asp-action="AddCourse">Добавить новый курс</a>
<h3 class = "mb-2">Название курсов</h3>
<table class="table">

    @foreach (var course in Model)
    {
        <tr>
            <td>@course.CourseName</td> 

            <td>             
                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@course.Id">Изменить данные о курсе</a>
            </td>
            <td>             
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@course.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
